.env.local
node_modules
.cursor
.next
.env
.env.local
.next/app-build-manifest.json
.next/build-manifest.json
.next/trace
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/(public)/media/page_client-reference-manifest.js
.next/server/app/(public)/media/page.js
.next/server/app/(public)/players/page_client-reference-manifest.js
.next/server/app/(public)/players/page.js
.next/server/app/(public)/rankings/page_client-reference-manifest.js
.next/server/app/(public)/rankings/page.js
.next/server/app/(public)/schedule/page_client-reference-manifest.js
.next/server/app/(public)/schedule/page.js
.next/server/app/(public)/teams/page_client-reference-manifest.js
.next/server/app/(public)/teams/page.js
.next/server/app/(public)/teams/\[id]/page_client-reference-manifest.js
.next/server/app/(public)/teams/\[id]/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/vendor-chunks/@radix-ui+primitive@1.1.2.js
.next/server/vendor-chunks/@radix-ui+react-collection@1.1.7_@types+react-dom@18.3.7_@types+react@18.3.23__@types+react@1_g2rahi25b6vuxt66qpykugaxdq.js
.next/server/vendor-chunks/@radix-ui+react-compose-refs@1.1.2_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-context@1.1.2_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-direction@1.1.1_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-id@1.1.1_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-presence@1.1.4_@types+react-dom@18.3.7_@types+react@18.3.23__@types+react@18._mcnf744msur4vp7w5dm65hzhsi.js
.next/server/vendor-chunks/@radix-ui+react-primitive@2.1.3_@types+react-dom@18.3.7_@types+react@18.3.23__@types+react@18_ujcax4x2btumxxy334cxx2hjfq.js
.next/server/vendor-chunks/@radix-ui+react-roving-focus@1.1.10_@types+react-dom@18.3.7_@types+react@18.3.23__@types+reac_fkad3ywkl2psdzndyckeemdxa4.js
.next/server/vendor-chunks/@radix-ui+react-slot@1.2.3_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-tabs@1.1.12_@types+react-dom@18.3.7_@types+react@18.3.23__@types+react@18.3.2_eljssao37kcuflepfqjfssswai.js
.next/server/vendor-chunks/@radix-ui+react-use-callback-ref@1.1.1_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-controllable-state@1.2.2_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-effect-event@0.0.2_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-layout-effect@1.1.1_@types+react@18.3.23_react@18.3.1.js
.next/server/vendor-chunks/@supabase+auth-js@2.71.1.js
.next/server/vendor-chunks/@supabase+functions-js@2.4.5.js
.next/server/vendor-chunks/@supabase+node-fetch@2.6.15.js
.next/server/vendor-chunks/@supabase+postgrest-js@1.19.4.js
.next/server/vendor-chunks/@supabase+realtime-js@2.15.0.js
.next/server/vendor-chunks/@supabase+ssr@0.5.2_@supabase+supabase-js@2.54.0.js
.next/server/vendor-chunks/@supabase+storage-js@2.10.4.js
.next/server/vendor-chunks/@supabase+supabase-js@2.54.0.js
.next/server/vendor-chunks/@swc+helpers@0.5.5.js
.next/server/vendor-chunks/class-variance-authority@0.7.1.js
.next/server/vendor-chunks/clsx@2.1.1.js
.next/server/vendor-chunks/cookie@0.7.2.js
.next/server/vendor-chunks/next@14.2.31_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/tailwind-merge@2.6.0.js
.next/server/vendor-chunks/tr46@0.0.3.js
.next/server/vendor-chunks/webidl-conversions@3.0.1.js
.next/server/vendor-chunks/whatwg-url@5.0.0.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/app/(public)/error.js
.next/static/chunks/app/(public)/loading.js
.next/static/chunks/app/(public)/media/layout.js
.next/static/chunks/app/(public)/media/page.js
.next/static/chunks/app/(public)/players/page.js
.next/static/chunks/app/(public)/rankings/page.js
.next/static/chunks/app/(public)/schedule/page.js
.next/static/chunks/app/(public)/teams/page.js
.next/static/chunks/app/(public)/teams/\[id]/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/css/app/layout.css
.next/static/webpack/633457081244afec._.hot-update.json
.next/types/app/layout.ts
.next/types/app/(public)/media/layout.ts
.next/types/app/(public)/media/page.ts
.next/types/app/(public)/players/page.ts
.next/types/app/(public)/rankings/page.ts
.next/types/app/(public)/schedule/page.ts
.next/types/app/(public)/teams/page.ts
.next/types/app/(public)/teams/\[id]/page.ts
